.video {
    padding: 100px 0;
    background-color: #F9FAFB;

    &__content {
        display: flex;
        gap: 80px;
        flex-direction: column;

        &__title {
            @include title(900, black);
            font-family: cursive;
            text-align: start;
        }

        &__elements {
            display: flex;
            align-items: center;
            justify-content: center;

            video {
                text-align: center;
                width: 100%;
            }
        }
    }
}